.o {
    position: absolute;
    width: 1226px;
    height: 571px;
    font-family: Fahkwang;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    color: #E5E5E5;
}

.pay {
    box-shadow: 0 0 5px 1px red;
    background-color: rgb(167, 23, 23);
    width: 1300px;
    height: 40px;
}